<div class="modal-demo">

  <button type="button" class="btn btn-outline-success" routerLink="/services/new"> New </button>

	<br/> <br/>

	<table class="table table-hover">
    <thead>
      <tr class="header">
        <th> Code </th>
        <th> Name </th>
        <th> Price </th>
        <th> Disabled </th>
        <th> </th>
      </tr>
    </thead>
		<tbody>
      <tr *ngFor="let service of services" (click)="todo()">
				<td> {{ service.getCode() }} </td>
				<td> {{ service.getName() }} </td>
				<td> {{ service.getPrice() }} {{ service.getCurrency().getSymbol() }} </td>
				<td> {{ service.isDisabled() }} </td>
        <td class="align-left"> <img data-toggle="tooltip" data-placement="top" title="Tooltip on top" src="assets/images/delete-24.png" (click)="delete(service)"/> </td>
			</tr>
		</tbody>
	</table>

</div>

<br/>
