<div class="row">

  <form [formGroup]="form" (submit)="onSubmit()" novalidate>

    <!-- Code -->
    <div class="form-group has-success has-feedback">
      <label class="control-label" for="codeId">Code</label>
      <input formControlName="code" type="text" id="codeId" class="form-control" aria-describedby="code" placeholder="ex: ABC" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span class="help-block">This is a required field.</span>
    </div>

    <!-- Name -->
    <div class="form-group has-success has-feedback">
      <label class="control-label" for="nameId">Name</label>
      <input formControlName="name" type="text" id="nameId" class="form-control" aria-describedby="name" placeholder="ex: TV da sogra" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span class="help-block">This is a required field.</span>
    </div>

    <!-- Symbol -->
    <div class="form-group has-success has-feedback">
      <label class="control-label" for="symbolId">Symbol</label>
      <input formControlName="symbol" type="text" id="symbolId" class="form-control" aria-describedby="symbol" placeholder="123.45" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      <span class="help-block">This is a required field.</span>
    </div>

    <!-- Submit Input -->
    <input type="submit" class="btn btn-primary" value="Submit" /> <br/><br/>

  </form>

</div>
