<div class="modal-demo">

  <button type="button" class="btn btn-success" routerLink="/clients/new"> {{ 'client.button.new' | translate }} </button>

  <br/> <br/>

  <table class="table table-hover">
    <tr class="header">
      <th class="col-xs-3"> {{ 'client.table.headers.name' | translate }} </th>
      <th class="col-xs-2"> {{ 'client.table.headers.user' | translate }} </th>
      <th class="col-xs-3"> {{ 'client.table.headers.email' | translate }} </th>
      <th class="col-xs-2"> {{ 'client.table.headers.services' | translate }} </th>
      <th class="col-xs-1"> {{ 'client.table.headers.exp-date' | translate }} </th>
      <th class="col-xs-1"> </th>
    </tr>
    <tbody>
      <tr *ngFor="let client of clients" (click)="todo()">
        <td> {{ client.getName() }} </td>
        <td> {{ client.getUserTvpt() }} </td>
        <td> {{ client.getEmail() }} </td>
        <td>
          <ul *ngFor="let service of client.services">
            <li> {{service.name}} </li>
          </ul>
        </td>
        <td> {{ client.getExpirationDate() | date: 'dd/MM/yyyy' }} </td>
        <td class="align-left"> <img data-toggle="tooltip" data-placement="top" title="Tooltip on top" src="assets/images/delete-24.png" (click)="delete(client)"/> </td>
      </tr>

    </tbody>
  </table>

</div>

<br/>
