<div class="row">

  <form [formGroup]="form" (submit)="onSubmit()" novalidate>

    <!-- Name -->
    <div class="form-group" [ngClass]="{'has-feedback': form.controls.name.touched, 'has-success': (form.controls.name.valid && form.controls.name.touched), 'has-error': (form.controls.name.invalid && form.controls.name.touched)}">
      <label class="control-label" for="nameId">Name</label>
      <input formControlName="name" type="text" id="nameId" class="form-control" aria-describedby="name" placeholder="ex: SD Card" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="(form.controls.name.touched && form.controls.name.valid)"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="(form.controls.name.touched && form.controls.name.invalid)"></span>
      <span class="help-block" *ngIf="(form.controls.name.touched && form.controls.name.errors?.required)">This is a required field.</span>
      <span class="help-block" *ngIf="(form.controls.name.touched && form.controls.name.errors?.minlength)">The name must be at least 5 characters.</span>
    </div>

    <!-- Email -->
    <div class="form-group" [ngClass]="{'has-feedback': form.controls.email.touched, 'has-success': (form.controls.email.valid && form.controls.email.touched), 'has-error': (form.controls.email.invalid && form.controls.email.touched)}">
      <label class="control-label" for="emailId">Email</label>
      <input formControlName="email" type="text" id="emailId" class="form-control" aria-describedby="email" placeholder="ex: john.snow@email.com" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="(form.controls.name.touched && form.controls.name.valid)"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="(form.controls.name.touched && form.controls.name.invalid)"></span>
      <span class="help-block" *ngIf="(form.controls.email.touched && form.controls.email.errors?.required)">This is a required field.</span>
      <span class="help-block" *ngIf="!form.controls.email.errors?.required && (form.controls.email.touched && form.controls.email.errors?.validateEmail)">The inserted email is not valid.</span>
    </div>

    <!-- Address -->
    <div class="form-group" [ngClass]="{'has-feedback': form.controls.address.touched, 'has-success': (form.controls.address.valid && form.controls.address.touched), 'has-error': (form.controls.address.invalid && form.controls.address.touched)}">
      <label class="control-label" for="addressId">Address</label>
      <input formControlName="address" type="text" id="addressId" class="form-control" aria-describedby="address" placeholder="ex: 1574 Avenue Peel, Montreal" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="(form.controls.address.touched && form.controls.address.valid)"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="(form.controls.address.touched && form.controls.address.invalid)"></span>
      <span class="help-block" *ngIf="(form.controls.address.touched && form.controls.address.errors?.required)">This is a required field.</span>
    </div>

    <!-- Phone -->
    <div class="form-group" [ngClass]="{'has-feedback': form.controls.phone.touched, 'has-success': (form.controls.phone.valid && form.controls.phone.touched), 'has-error': (form.controls.phone.invalid && form.controls.phone.touched)}">
      <label class="control-label" for="phoneId">Phone</label>
      <input formControlName="phone" type="text" id="phoneId" class="form-control" aria-describedby="phone" placeholder="ex: (514) 642-7541" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="(form.controls.passSogra.touched && form.controls.passSogra.valid)"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="(form.controls.passSogra.touched && form.controls.passSogra.invalid)"></span>
      <span class="help-block" *ngIf="(form.controls.phone.touched && form.controls.phone.errors?.required)">This is a required field.</span>
      <span class="help-block" *ngIf="(form.controls.phone.touched && form.controls.phone.errors?.validatePhone)">Phone in invalid format.</span>
    </div>

    <!-- Username TV da Sogra -->
    <div class="form-group" [ngClass]="{'has-feedback': form.controls.userSogra.touched, 'has-success': (form.controls.userSogra.valid && form.controls.userSogra.touched), 'has-error': (form.controls.userSogra.invalid && form.controls.userSogra.touched)}">
      <label class="control-label" for="userSograId">Username TV da Sogra</label>
      <input formControlName="userSogra" type="text" id="userSograId" class="form-control" aria-describedby="userSogra" placeholder="ex: jsnow" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="(form.controls.passSogra.touched && form.controls.passSogra.valid)"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="(form.controls.passSogra.touched && form.controls.passSogra.invalid)"></span>
      <span class="help-block" *ngIf="(form.controls.userSogra.touched && form.controls.userSogra.errors?.required)">This is a required field.</span>
      <span class="help-block" *ngIf="(form.controls.userSogra.touched && form.controls.userSogra.errors?.validateUsername)">Username invalid, only letters and numbers are allowed.</span>
    </div>

    <!-- Password TV da Sogra -->
    <div class="form-group" [ngClass]="{'has-feedback': form.controls.passSogra.touched, 'has-success': (form.controls.passSogra.valid && form.controls.passSogra.touched), 'has-error': (form.controls.passSogra.invalid && form.controls.passSogra.touched)}">
      <label class="control-label" for="passSograId">Password TV da Sogra</label>
      <input formControlName="passSogra" type="password" id="passSograId" class="form-control" aria-describedby="passSogra" placeholder="********" required>
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="(form.controls.passSogra.touched && form.controls.passSogra.valid)"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="(form.controls.passSogra.touched && form.controls.passSogra.invalid)"></span>
      <span class="help-block" *ngIf="(form.controls.passSogra.touched && form.controls.passSogra.errors?.required)">This is a required field.</span>
      <span class="help-block" *ngIf="(form.controls.passSogra.touched && form.controls.passSogra.errors?.validatePassword)">Password invalid.</span>
    </div>

    <!-- Registration Date -->
    <div class="form-group" [ngClass]="{'has-feedback': form.controls.regDate.touched, 'has-success': (form.controls.regDate.valid && form.controls.regDate.touched), 'has-error': (form.controls.regDate.invalid && form.controls.regDate.touched)}">
      <label class="control-label" for="regDateId">Registration Date</label>
      <input formControlName="regDate" type="text" id="regDateId" class="form-control" aria-describedby="regDate" placeholder="ex: John Snow">
      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" *ngIf="(form.controls.regDate.touched && form.controls.regDate.valid)"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="(form.controls.regDate.touched && form.controls.regDate.invalid)"></span>
      <span class="help-block" *ngIf="(form.controls.regDate.touched && form.controls.regDate.errors?.validateDate)">Date in invalid format. Please format with DD/MM/YYYY.</span>
    </div>

    <!-- Services -->
    <div class="form-group">
      <label class="control-label">Subscribed Services</label>
      <br/>
      <div class="form-group">
        <div *ngFor="let service of services">
          <input type="checkbox" formControlName="services" id="checkbox-{{service.code}}" [(ngModel)]="service.is_selected">
          {{service.name}}
        </div>
      </div>
    </div>

    <!-- Submit Input -->
    <input type="submit" class="btn btn-primary" value="Submit" /> <br/><br/>

  </form>

</div>
